* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-text {
  margin-right: 20px;
  text-align: right;
}

.introSection {
  text-align: center;
  background-image: url("./assets/bg.png");
  background-size: 100% 100%;
}

figure {
  padding-top: 20px;
}

h1 {
  text-align: center;
  text-decoration: bold;
  margin-top: 10px;
  color: #FFFFFF;
}

h4 {
  text-align: center;
  margin-top: 10px;
}

h5 {
  color: #FFFFFF;
  text-align: center;
}

h6 {
  text-align: center;
  text-decoration: bold;
  margin-top: 10px;
  color: #FFFFFF;
}

button {
  margin-bottom: 30px;
  margin-top: 5px;
}

.aboutMe {
  text-align: center;
  margin-top: 30px;
  margin-left: 75px;
  margin-right: 75px;
}

.btn-linkedin {
    background: #000000;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #084461;
    margin-bottom: 10px;
}

.btn-linkedin:link, .btn-linkedin:visited {
    color: #fff;
}

.btn-linkedin:active, .btn-linkedin:hover {
    background: #084461;
    color: #fff;
}

.btn-gitlab {
    background: #000000;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #084461;
    margin-bottom: 10px;
}

.btn-gitlab:link, .btn-gitlab:visited {
    color: #fff;
}

.btn-gitlab:active, .btn-gitlab:hover {
    background: #084461;
    color: #fff;
}

.btn-instagram {
    background: #000000;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #084461;
    margin-bottom: 10px;
}

.btn-instagram:link, .btn-instagram:visited {
    color: #fff;
}

.btn-instagram:active, .btn-instagram:hover {
    background: #084461;
    color: #fff;
}

.myProjects {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

.description {
  text-align: center;
}

footer {
  text-align: center;
  padding-bottom: 10px;
}